body{
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
}
.container{
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 25%;
  /* box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75); */
  padding-top: 30px;
  border-radius: 60px; 
  background-color: white;
}
.form h1{
  margin-bottom: 20px;
}
.input{
  margin: auto;
  max-width: 20rem;
}